@media (max-width: 480px) {
    body {
        background-color: blue;
    }

    .paragraph {
        display: none;
    }

    .info {
        display: none;
    }

    #heading {
        display: flex;
        align-content: center;
    }

    .img {
        width: 50%;
        height: 50%;
    }
    
}



img {
    width: 30%;
    height: 30%;
    
}

.main {
    display: flex;
    
}


.parent {
    list-style: none
}