.home-page {
    background-color: aqua;
}

.about-me {
    background-color: blue;

}

.skills {
    background-color: orange;
}

.contact-info {
    background-color: red;
}



.icon-size {
    max-width: 20%;
    max-height: auto;
}

a {
    text-decoration: none;
    color: black;
}